<nav class="bottom-nav">
    <div class="nav-buttons-container">
      <a class="nav-button" href="/home">
        <i class="fa fa-fw fa-home"></i>
      </a>
      <a class="nav-button" href="/chat">
        <i class="fa fa-fw fa-comments"></i>
      </a>
      <a class="nav-button" href="/calendar">
        <i class="fa fa-fw fa-calendar"></i>
      </a>
      <a class="nav-button" href="/settings">
        <i class="fa fa-fw fa-cog"></i>
      </a>
      <a class="nav-button" href="/profile">
        <i class="fa fa-fw fa-user"></i>
      </a>
    </div>
  </nav>
  