/* General body styling with background image */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Profile container styling for a mobile look */
.profile-container {
    width: 375px;
    max-width: 100%;
    height: 667px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Profile details box styling */
.profile-box {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Profile info container styling */
.profile-info {
    text-align: left;
}

/* Updated: Change color of Settings title and adjust spacing */
.profile-box h1 {
    color: #FF5722; /* Orange color matching the nav bar */
    margin-bottom: 20px;
}

.profile-info p,
.profile-info h3 {
    margin: 5px 0; /* Reduced margin to bring options closer */
}

/* Input styling */
.profile-info input[type="password"],
.profile-info select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px; /* Add some bottom margin */
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

/* Button Styling */
.save-profile-container {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.save-profile-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: calc(100% - 40px);
    margin-top: 20px;
}

.save-profile-button i {
    font-size: 18px;
}

.save-profile-button:hover {
    background-color: #45a049;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#emergencyContactDiv {
    margin-top: 10px;
  }
  
  #contactForm input {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  #contactForm button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contactList {
    margin-top: 10px;
  }
  
  #contactList div {
    margin-bottom: 5px;
  }